{% macro products_list(productsListView) %}
    <header class="filters">
        {% if productsListView.title %}
            <h1>{{ productsListView.title }}</h1>
        {% endif %}
        <ul>
            <li>categoria: {% if productsListView.category is not null %}{{ productsListView.category.name }}{% else %}nessuna{% endif %}</li>
            <li>collezione: {% if productsListView.collection is not null %}{{ productsListView.collection.name }}{% else %}nessuna{% endif %}</li>
        </ul>
    </header>
    <ul>
    {% for product in productsListView.products %}
        <li>
            {#<a href="/prodotti/dettaglio/{{ product.slug }}/">#}
            <a href="#">
                <figure>
                    {% media product.image, 'small' %}
                    <figcaption>{{ product.name }}</figcaption>
                </figure>

            </a>
                
            {# { product.rawDescription | markdown } #}
        </li>
    {% endfor %}
    </ul>
{% endmacro %}


{% macro admin_products_list(productsListView) %}
    <div class="category">
        <header class="filters">
            <ul>
                <li>categoria: {% if productsListView.category is not null %}{{ productsListView.category.name }}{% else %}nessuna{% endif %}</li>
                <li>collezione: {% if productsListView.collection is not null %}{{ productsListView.collection.name }}{% else %}nessuna{% endif %}</li>
            </ul>
        </header>
    </div>
{% endmacro %}