{# % block sonata_page_breadcrumb %}
    <div class="row-fluid clearfix">
        {{ sonata_block_render_event('breadcrumb', { 'context': 'news_archive', 'collection': collection, 'tag': tag, 'current_uri': app.request.requestUri }) }}
    </div>
{% endblock % #}

<h1>{{ 'title_archive'|trans({}, 'SonataNewsBundle') }}</h1>

<ul id="posts-list" style="display: block;">
    {% for post in pager.getResults() %}
        <li>
            <article class="post-container">
                <header>
                    <h1 class="post-title">
                        <a href="{{ '/news/detail/' ~ post.slug }}{# { url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) } #}">{{ post.title }}</a>
                    </h1>
                    <hr/>

                    <div class="post-information">
                        <span class="post-author">{{ 'archive_author'|trans({'%author%': post.author }, 'SonataNewsBundle') }}</span> |

                        <i class="icon-calendar"></i>
                        {{ post.publicationDateStart | date('d.m.Y h:m') }}

                        {#
                        <figure>
                            {% media post.image, 'small' %}
                            <figcaption>{{ post.name }}</figcaption>
                        </figure>
                        #}
                        
                        {#
                         |
                        <i class="icon-comment"></i>
                        <span class="post-comments-count">{{ 'comments_count'|trans({'%comments_count%': post.commentsCount }, 'SonataNewsBundle') }}</span>
                        #}

                        <div class="post-tags">
                            {% if post.tags|length > 1 %}
                                <i class="icon-tags"></i>
                            {% else %}
                                <i class="icon-tag"></i>
                            {% endif %}
                            {{ 'published_under'|transchoice(post.tags|length, {}, 'SonataNewsBundle') }}

                            {% for tag in post.tags %}
                                <a href="{{ '/news/' ~ tag.slug }}{# { url('sonata_news_tag', { 'tag': tag.slug } ) } #}">{{ tag.name }}</a>{% if not loop.last %},{% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </header>

                <div class="post-abtract">
                    {% media post.image, 'small' with { 'class': "post-image", 'style': 'max-height:' ~ height|default('auto')} %}
                    {{ post.abstract }} ... <a class="read-more" href="{{ '/news/detail/' ~ post.slug }}">{{ 'read_more'|trans({}, 'SonataNewsBundle') }}</a>
                </div>
            </article>
        </li>
    {% else %}
        {{ 'no_post_found'|trans({}, 'SonataNewsBundle') }}
    {% endfor %}

    pa{{ dump(route_parameters)}}rams
    
    <ul class="pager">
        <li{% if pager.page == pager.lastPage %} class="disabled"{% endif %}><a href="{#{ url(route, route_parameters|merge({'page': pager.nextpage})) }#}" title="{{ 'link_previous_page'|trans({}, 'SonataNewsBundle') }}">{{ 'link_previous_page'|trans({}, 'SonataNewsBundle') }}</a>
        <li{% if pager.page == pager.firstPage %} class="disabled"{% endif %}><a href="{#{ url(route, route_parameters|merge({'page': pager.previouspage})) }#}" title="{{ 'link_next_page'|trans({}, 'SonataNewsBundle') }}">{{ 'link_next_page'|trans({}, 'SonataNewsBundle') }}</a></li>
    </ul>
</ul>