{% if mapElementView is defined %}
    {% if type is not defined %}
        {% set type = 'link' %}
    {% endif %}
    {% if rowId is not defined %}
        {% set rowId = 0 %}
    {% endif %}
    
    {% if type == 'link' %}
        <div class="locator-result {{ mapElementView.collection.slug }}" id="locator-result-{{ mapElementView.collection.slug ~ '-' ~ rowId }}">
            <a href="javascript:void(0)" onclick="markerClick('{{ mapElementView.collection.slug ~ '-' ~ rowId }}');">
                <span class="name">{{ mapElementView.name }}</span>
                {{ mapElementView.payoff }}<br>{{ mapElementView.text|raw }}
            </a>
        </div>
    {% endif %}
    
    {% if type == 'location' %}
        {% if rowId is not defined %}
            {% set rowId = 0 %}
        {% endif %}
        ['<div class="locator_infowindow"><span><strong>{{ mapElementView.name }}</strong><br/>{{ mapElementView.payoff }}<br/><br/>{{ mapElementView.text|raw }}</span><br class="c" /></div>', {{ mapElementView.lat }}, {{ mapElementView.lng }}, '{{ mapElementView.collection.slug ~ '-' ~ rowId }}'],
    {% endif %}
    
    {% if type == 'locationMini' %}
        {% if rowId is not defined %}
            {% set rowId = 0 %}
        {% endif %}
        ['{{ mapElementView.name }}', {{ mapElementView.lat }}, {{ mapElementView.lng }}, '{{ mapElementView.collection.slug ~ '-' ~ rowId }}'],
    {% endif %}
{% endif %}
