{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends 'ApplicationNetworkingInitCmsBundle::layout.html.twig' %}

{% block title %}{{ page.metaTitle }}{% endblock %}

{% block content %}
    <div id="map" class="row full" style="display:block;position:absolute;width:100%;height:100%;left:0;top:60px;"></div>
    {% if page.layoutBlock('header') is not empty %}
        <div class="row full">
            {% set headerBlockCount = page.layoutBlock('header')|length %}

            {% for layoutBlock in page.layoutBlock('header') %}
               <div class="span{{ 16/headerBlockCount }}">
                   {{ render_initcms_block('ApplicationNetworkingInitCmsBundle:Content:hero_block.html.twig', layoutBlock) }}
               </div>
            {% endfor %}
        </div>
        <div id="header-logo-container" class="row">
            <img id="header-logo" src="/bundles/applicationnetworkinginitcms/img/internal/header-logo.png" />
        </div>
        <div class="clearfix"></div> 
    {% endif %}
    
    <div class="row center">
        <div class="col-md-5 left">
            <div id="locatorNav" class="locator-results">
                <div id="locator-filter">
                    <a id="locator-filter-romagna" href="#" onclick="categoryFilter('romagna')" class="selected">Romagna</a>
                    <a id="locator-filter-mondo" href="#" onclick="categoryFilter('mondo')">Mondo</a>
                </div>
                <div id="locator-results-inner">
                    {% for layoutBlock in page.layoutBlock('map') %}
                        {{ render_initcms_block('LzdvInitCmsMapBundle:Content:map_block.html.twig', layoutBlock, { type: 'link', rowId: loop.index0 }) }}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-11 right">
        </div>
    </div>
{% endblock content %}


{% block foot_script %}
    {{ parent() }}

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="/bundles/applicationnetworkinginitcms/js/infobox.js"></script>
    <script type="text/javascript">
/*
        function Label(opt_options) {
                this.setValues(opt_options);
                var span = this.span_ = document.createElement('span');
                //span.style.cssText = 'position: relative; left: -50%; top: -8px; white-space: nowrap; border: 1px solid blue; padding: 2px; background-color: white';
                span.className = 'locator_label';
                var div = this.div_ = document.createElement('div');
                div.appendChild(span);
                div.style.cssText = 'position:absolute;display:none';
        };
        Label.prototype = new google.maps.OverlayView;
        Label.prototype.onAdd = function() {
                var pane = this.getPanes().overlayLayer;
                pane.appendChild(this.div_);
                var me = this;
                this.listeners_ = [
                        google.maps.event.addListener(this,'position_changed',function(){me.draw();}),
                        google.maps.event.addListener(this,'text_changed',function(){me.draw();})
                ];
        };
        Label.prototype.onRemove = function() {
                this.div_.parentNode.removeChild(this.div_);
                for (var i = 0, I = this.listeners_.length; i < I; ++i) {
                        google.maps.event.removeListener(this.listeners_[i]);
                }
        };
        Label.prototype.draw = function() {
                var projection = this.getProjection(),position = projection.fromLatLngToDivPixel(this.get('position')),div = this.div_;
                div.style.left = (position.x+27)+'px';
                div.style.top = (position.y-51)+'px';
                div.style.display = 'block';
                this.span_.innerHTML = this.get('content');//.toString();
        };
*/
/*
        function locatorPanelPos(){
                //$('#locatorNav').css('height',$(document).height()-$('#footer-fixed').height()-$('#locatorNav').top);
        }
        $(window).ready(function(){locatorPanelPos();});
        $(window).resize(function(){locatorPanelPos();});
*/
        var locations = [
            {% for layoutBlock in page.layoutBlock('map') %}
                {{ render_initcms_block('LzdvInitCmsMapBundle:Content:map_block.html.twig', layoutBlock, { type: 'location', rowId: loop.index0 }) }}
            {% endfor %}
        ];
        var locationsMini = [
            {% for layoutBlock in page.layoutBlock('map') %}
                {{ render_initcms_block('LzdvInitCmsMapBundle:Content:map_block.html.twig', layoutBlock, { type: 'locationMini', rowId: loop.index0 }) }}
            {% endfor %}
        ];
        /*
        var infobox = new InfoBox({
            //content: document.getElementById("infobox1"),
            disableAutoPan: false,
            maxWidth: 150,
            pixelOffset: new google.maps.Size(-75,-150),
            zIndex: null,
            boxStyle: {
                    //background: "url('http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/examples/tipbox.gif') no-repeat",
                    //opacity: 0.75,
                    //width: "280px"
            },
            //closeBoxMargin: "10px 10px 0 0",
            //closeBoxURL: "http://www.google.com/intl/en_us/mapfiles/close.gif",
            infoBoxClearance: new google.maps.Size(1, 1)
        });
        */
        var map;
        var bounds = new google.maps.LatLngBounds();
        var markers={},i;

        function markerClick(idx) {
            var key = idx.split('-');
            google.maps.event.trigger(markers[key[0]][idx], 'click');
            map.setZoom(10);
        }
        function categoryFilter(cat) {
            $('#locator-filter a').removeClass('selected');
            $('#locator-filter a#locator-filter-'+cat).addClass('selected');
            
            bounds = new google.maps.LatLngBounds();
            
            for (var i in markers) {
                var show = (cat=='' || i==cat);

                for (var j in markers[i]) {
                    markers[i][j].setVisible(show);

                    if (show)
                        bounds.extend(markers[i][j].position);
                }
            }
            
            map.fitBounds(bounds);
            
            $('#locator-results-inner .locator-result').hide();
            $('#locator-results-inner .locator-result.'+cat).show();
        }

        $(document).ready(function(){
            var h = $(document).height() - $('#nav-main-container').height() - $('#footer').height();
            $('#map').height(h);
            
            map = new google.maps.Map(document.getElementById('map'),{
                zoom: 10,
                center: new google.maps.LatLng(44.288114, 11.882914),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            //var infowindow = new google.maps.InfoWindow();

            var image = new google.maps.MarkerImage('/bundles/applicationnetworkinginitcms/img/pushpin.png',
                new google.maps.Size(60,89),
                new google.maps.Point(0,0),
                new google.maps.Point(30,89)
            );

            for (i = 0; i < locations.length; i++) {  
                LatLong = new google.maps.LatLng(locations[i][1], locations[i][2]);
                
                var key = locations[i][3].split('-');
                var cat = key[0];
                var idx = cat+'-'+key[1];
                if (cat && idx) {
                    if (markers[cat] == undefined) markers[cat] = {};
                    markers[cat][idx] = new google.maps.Marker({
                        position: LatLong,
                        //animation: google.maps.Animation.DROP,
                        icon: image,
                        visible: false,
                        map: map
                    });

                    google.maps.event.addListener(markers[cat][idx],'click',(function(marker,i) {
                        return function(){
                            //infowindow.setContent(locations[i][0]);
                            //infobox.setContent(locations[i][0]);
                            map.setCenter(new google.maps.LatLng(locations[i][1],locations[i][2]));
                            //infowindow.open(map, marker);
                            //infobox.open(map, marker);
                        }
                    })(markers[cat][idx],i));
//                    bounds.extend(LatLong);
                }
            }
            
            categoryFilter('romagna');
//            map.fitBounds(bounds);
        });

        (function ($) {
            $('.carousel').carousel();
            $("a[rel^='prettyPhoto']").prettyPhoto();
        })(jQuery);
     </script>
{% endblock %}
