{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% from 'NetworkingInitCmsBundle:GalleryView:macro.html.twig' import lightbox, carousel, carousel_full_width %}
{% from 'LzdvInitCmsExtensionBundle:MediaView:macro.html.twig' import image, video %}
{% from 'LzdvInitCmsExtensionBundle:CardView:macro.html.twig' import card %}
{% from 'LzdvInitCmsProductBundle:CategoryView:macro.html.twig' import category %}

{% if text is defined %}
<div class="textbox">
    {{ text | shortcodes | raw }}
</div>
{% endif %}

{% if mediaView is defined %}
<div class="media">
    {% if mediaView.mediaType == 'image' %}
        {% set h = 'height: '~mediaView.media.height~'px;' %}
        {% set w = 'width: '~mediaView.media.width~'px;' %}
        {% media mediaView.media, 'big' with {'style': h~w} %}
    {% endif %}
    {% if mediaView.mediaType == 'video' %}
        {{ carousel(mediaView.media, 'heroCarousel', null, 'medium', '460px') }}
    {% endif %}
</div>
{% endif %}

{% if cardView is defined %}
<div class="card" style="{% if cardView.backgroundColor != '' %}background-color: {{ cardView.backgroundColor }};{% endif %} {% if cardView.textColor  != '' %}color: {{ cardView.textColor }};{% endif %}">
    {{ card(cardView) }}
</div>
{% endif %}

{% if galleryView is defined %}
    {# create a lightbox view #}
    {% if galleryView.galleryType == 'lightbox' %}
        {{ lightbox(galleryView.mediaGallery, null, null, 'medium') }}
    {% elseif galleryView.galleryType == 'carousel' %}
        {{ carousel_full_width(galleryView.mediaGallery, 'centerCarousel', null, 'big', '300px') }}
    {% else %}
        <ul class="gallery-list">
            {% for media in mediaItems %}
                <li>
                    <figure>
                        {% media media.media, gallery.defaultFormat %}
                        {% if media.media.description %}<figcaption>{{ media.media.description }}</figcaption>{% endif %}
                    </figure> 
                    
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}

{% if downloadContent is defined and downloadContent.download|length > 0 %}
    <article class="row clearfix print_media">
        <div class="col-md-3">{{ downloadContent.getText()|raw }}</div>
        <div class="col-md-3 thumbs">
            {% for download in downloadContent.download %}
                <div class="img_link {{ loop.index == 1 ? 'active': '' }}"
                     data-target="#download_content_{{ downloadContent.id }}_{{ download.media.id }}">
                    {% media download.media, 'small' with {'width': 70, height: 100} %}
                </div>
            {% endfor %}
        </div>
        <div class="col-md-6">
            {% for download in downloadContent.download %}
                <div id="download_content_{{ downloadContent.id }}_{{ download.media.id }}" class="slide"
                     style="display: {{ loop.index == 1 ? 'block': 'none' }};">
                    {% media download.media, 'reference' with { 'class': 'img-responsive' } %}
                    <div class="caption"><ul class="linklist"><li><a class="download" href="{{ path('sonata_media_download', {'id': download.file.id, 'format': 'reference'}) }}">{{ download.file.name }}</a> </li></ul></div>
                </div>
            {% endfor %}
        </div>
    </article>
{% endif %}

{% if categoryView is defined %}
    {# create a lightbox view #}
    {{ category(categoryView) }}
{% endif %}
