{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% from 'NetworkingInitCmsBundle:GalleryView:macro.html.twig' import lightbox, carousel, carousel_full_width %}
{% from 'LzdvInitCmsExtensionBundle:MediaView:macro.html.twig' import image, video %}
{% from 'LzdvInitCmsExtensionBundle:CardView:macro.html.twig' import card %}
{% from 'LzdvInitCmsProductBundle:CategoryView:macro.html.twig' import category %}
{% from 'LzdvInitCmsProductBundle:CollectionView:macro.html.twig' import collection %}
{% from 'LzdvInitCmsProductBundle:ProductsListView:macro.html.twig' import products_list %}
{% from 'LzdvInitCmsProductBundle:ProductsFilterView:macro.html.twig' import products_filter %}
{% from 'LzdvInitCmsPostBundle:PostsListView:macro.html.twig' import posts_list %}
{% from 'LzdvInitCmsPostBundle:PostsFilterView:macro.html.twig' import posts_filter %}

{% if text is defined %}
    <div class="textbox">
        {{ text | shortcodes | raw }}
    </div>
{% endif %}

{% if mediaView is defined %}
    {% if format is defined and format == 'wide' %}
        <div class="media row full cover-image" style="background-image: url({% path mediaView.media, 'wide' %})"></div>
    {% else %}
        <div class="media row">
            {% if mediaView.mediaType == 'image' %}
                    {% set h = 'height: '~mediaView.media.height~'px;' %}
                    {% set w = 'width: '~mediaView.media.width~'px;' %}
                    {% media mediaView.media, format|default('big') with {'style': h~w} %}
                {% endif %}
            {% if mediaView.mediaType == 'video' %}
                {{ carousel(mediaView.media, 'heroCarousel', null, 'medium', '460px') }}
            {% endif %}
        </div>
    {% endif %}
{% endif %}

{% if cardView is defined %}
    <div class="card row" style="{% if cardView.backgroundColor != '' %}background-color: {{ cardView.backgroundColor }};{% endif %} {% if cardView.textColor  != '' %}color: {{ cardView.textColor }};{% endif %}">
        {{ card(cardView) }}
    </div>
{% endif %}

{% if galleryView is defined %}
    {# create a lightbox view #}
    {% if galleryView.galleryType == 'lightbox' %}
        {{ lightbox(galleryView.mediaGallery, null, null, 'medium') }}
    {% elseif galleryView.galleryType == 'carousel' %}
        {{ carousel_full_width(galleryView.mediaGallery, 'centerCarousel', null, 'big', '300px') }}
    {% else %}
        <ul class="gallery-list">
            {% for galleryMedia in galleryView.mediaGallery.galleryHasMedias %}
                {% set foo = galleryMedia.media.name|split('.') %}
                <li class="{{ foo[0] }}">
                    {% if galleryMedia.getLink %}<a href="{{ galleryMedia.getLink }}">{% endif %}
                        <figure>
                            {% media galleryMedia.media, gallery.defaultFormat with {'class': 'auto-resize'} %}
                            {% if galleryMedia.getCaption %}<figcaption>{{ galleryMedia.getCaption }}</figcaption>{% endif %}
                        </figure>
                    {% if galleryMedia.getLink %}</a>{% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}

{% if downloadContent is defined and downloadContent.download|length > 0 %}
    <article class="row clearfix print_media">
        <div class="col-md-3">{{ downloadContent.getText()|raw }}</div>
        <div class="col-md-3 thumbs">
            {% for download in downloadContent.download %}
                <div class="img_link {{ loop.index == 1 ? 'active': '' }}"
                     data-target="#download_content_{{ downloadContent.id }}_{{ download.media.id }}">
                    {% media download.media, 'small' with {'width': 70, height: 100} %}
                </div>
            {% endfor %}
        </div>
        <div class="col-md-6">
            {% for download in downloadContent.download %}
                <div id="download_content_{{ downloadContent.id }}_{{ download.media.id }}" class="slide"
                     style="display: {{ loop.index == 1 ? 'block': 'none' }};">
                    {% media download.media, 'reference' with { 'class': 'img-responsive' } %}
                    <div class="caption"><ul class="linklist"><li><a class="download" href="{{ path('sonata_media_download', {'id': download.file.id, 'format': 'reference'}) }}">{{ download.file.name }}</a> </li></ul></div>
                </div>
            {% endfor %}
        </div>
    </article>
{% endif %}

{% if categoryView is defined %}
    <div class="category row">
        {{ category(categoryView) }}
    </div>
{% endif %}

{% if collectionView is defined %}
    <div class="collection row">
        {{ collection(collectionView) }}
    </div>
{% endif %}

{% if productsListView is defined %}
    <div class="products-list row">
        {{ products_list(productsListView) }}
    </div>
{% endif %}

{% if productsFilterView is defined %}
    <div class="products-filter row">
        {{ products_filter(productsFilterView) }}
    </div>
{% endif %}

{% if postDetailsView is defined %}
    <div class="post-details row">
        {{ render(controller('SonataNewsBundle:Post:view', { 'slug': route_params.slug })) }}
    </div>
{% endif %}

{% if postsListView is defined %}
    <div class="posts-list row">
        {% if route_params.year is not defined  %}
            {% set route_params = route_params|merge({'year': 'now'|date('Y')}) %}
        {% endif %}
        {% if route_params.year matches '/^\\d+$/' %}
            {{ render(controller('SonataNewsBundle:Post:archiveYearly', { 'year': route_params.year })) }}
        {% else %}
            {{ render(controller('SonataNewsBundle:Post:tag', { 'tag': route_params.year })) }}
        {% endif %}
    </div>
{% endif %}

{% if postsFilterView is defined %}
    <div class="posts-filter row">
        {{ posts_filter(postsFilterView) }}
    </div>
{% endif %}
