{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends 'ApplicationNetworkingInitCmsBundle::layout.html.twig' %}

{% block title %}{{ page.metaTitle }}{% endblock %}

{% block content %}
<style>
.locator-result a {display:block;padding:10px;border-bottom:1px solid #EDEDED;background:#FFF url(/bundles/applicationnetworkinginitcms/img/locator-point.png) 95% 20px no-repeat;
 color:#939598;font-size:12px;}
.locator-result .name {display:block;margin:0;padding:0;color:#64312E;text-transform:uppercase;font-family:Lora,"Times New Roman",Times,serif;font-size:16px;
text-shadow:1px 1px 1px rgba(100,49,46,1);}
.locator-result a:hover, .locator-result a:visited:hover, .locator-result a:focus {text-decoration:none;background:#FFF url(/bundles/applicationnetworkinginitcms/img/locator-point-black.png) 95% 20px no-repeat;}
.locator_infowindow {display:block;background-color:rgba(0,0,0,.75);color:#FFFFFF;padding:10px;}
.locator_infowindow span {display:block;float:left;}
.locator_infowindow img {display:block;float:right;margin:0 10px 0 0;}
.locator_infowindow {display:block;background-color:rgba(0,0,0,.75);color:#FFFFFF;padding:10px;}
</style>
    <div id="map" class="row full" style="display:block;position:absolute;width:100%;height:100%;left:0;top:60px;"></div>
    {% if page.layoutBlock('header') is not empty %}
        <div class="row full">
            {% set headerBlockCount = page.layoutBlock('header')|length %}

            {% for layoutBlock in page.layoutBlock('header') %}
               <div class="span{{ 16/headerBlockCount }}">
                   {{ render_initcms_block('ApplicationNetworkingInitCmsBundle:Content:hero_block.html.twig', layoutBlock) }}
               </div>
            {% endfor %}
        </div>
        <div id="header-logo-container" class="row">
            <img id="header-logo" src="/bundles/applicationnetworkinginitcms/img/internal/header-logo.png" />
        </div>
        <div class="clearfix"></div> 
    {% endif %}
    
    <div class="row center">
        <div class="col-md-5 left">
            <div class="row">
            {{ mopa_bootstrap_menu('subMenu', {}) }}
            </div>
            {% for layoutBlock in page.layoutBlock('left') %}
                {{ render_initcms_block('ApplicationNetworkingInitCmsBundle:Content:cms_block.html.twig', layoutBlock) }}
            {% endfor %}
            <div id="locatorNav" class="locator-results">
                <div class="locator-filter">
                    <a href="" class="selected">Romagna</a>
                    <a href="">Mondo</a>
                </div>
                <div class="locator-results-inner">
                    {% for layoutBlock in page.layoutBlock('map') %}
                        {{ render_initcms_block('LzdvInitCmsMapBundle:Content:map_block.html.twig', layoutBlock, { type: 'link', rowId: loop.index0 }) }}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-11 right">
        </div>
    </div>
{% endblock content %}


{% block foot_script %}
    {{ parent() }}

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="/bundles/applicationnetworkinginitcms/js/infobox.js"></script>
    <script type="text/javascript">

        function Label(opt_options) {
                this.setValues(opt_options);
                var span = this.span_ = document.createElement('span');
                //span.style.cssText = 'position: relative; left: -50%; top: -8px; white-space: nowrap; border: 1px solid blue; padding: 2px; background-color: white';
                span.className = 'locator_label';
                var div = this.div_ = document.createElement('div');
                div.appendChild(span);
                div.style.cssText = 'position:absolute;display:none';
        };
        Label.prototype = new google.maps.OverlayView;
        Label.prototype.onAdd = function() {
                var pane = this.getPanes().overlayLayer;
                pane.appendChild(this.div_);
                var me = this;
                this.listeners_ = [
                        google.maps.event.addListener(this,'position_changed',function(){me.draw();}),
                        google.maps.event.addListener(this,'text_changed',function(){me.draw();})
                ];
        };
        Label.prototype.onRemove = function() {
                this.div_.parentNode.removeChild(this.div_);
                for (var i = 0, I = this.listeners_.length; i < I; ++i) {
                        google.maps.event.removeListener(this.listeners_[i]);
                }
        };
        Label.prototype.draw = function() {
                var projection = this.getProjection(),position = projection.fromLatLngToDivPixel(this.get('position')),div = this.div_;
                div.style.left = (position.x+27)+'px';
                div.style.top = (position.y-51)+'px';
                div.style.display = 'block';
                this.span_.innerHTML = this.get('content');//.toString();
        };

        function locatorPanelPos(){
                //$('#locatorNav').css('height',$(document).height()-$('#footer-fixed').height()-$('#locatorNav').top);
        }
        $(window).ready(function(){locatorPanelPos();});
        $(window).resize(function(){locatorPanelPos();});

        var locations = [
            {% for layoutBlock in page.layoutBlock('map') %}
                {{ render_initcms_block('LzdvInitCmsMapBundle:Content:map_block.html.twig', layoutBlock, { type: 'location', id: loop.index0 }) }}
            {% endfor %}
        ];
        var locationsMini = [
            {% for layoutBlock in page.layoutBlock('map') %}
                {{ render_initcms_block('LzdvInitCmsMapBundle:Content:map_block.html.twig', layoutBlock, { type: 'locationMini', id: loop.index0 }) }}
            {% endfor %}
        ];
        var infobox = new InfoBox({
            //content: document.getElementById("infobox1"),
            disableAutoPan: false,
            maxWidth: 150,
            pixelOffset: new google.maps.Size(-75,-150),
            zIndex: null,
            boxStyle: {
                    //background: "url('http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/examples/tipbox.gif') no-repeat",
                    //opacity: 0.75,
                    //width: "280px"
            },
            //closeBoxMargin: "10px 10px 0 0",
            //closeBoxURL: "http://www.google.com/intl/en_us/mapfiles/close.gif",
            infoBoxClearance: new google.maps.Size(1, 1)
        });
        function markerClick(i) {
            google.maps.event.trigger(markers[i], 'click');
            //map.setZoom(8);
        }

        var bounds = new google.maps.LatLngBounds();
        var markers=[],i;

        $(document).ready(function(){
            var map = new google.maps.Map(document.getElementById('map'),{
                zoom: 10,
                center: new google.maps.LatLng(44.288114, 11.882914),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            var infowindow = new google.maps.InfoWindow();
            var image = new google.maps.MarkerImage('/bundles/applicationnetworkinginitcms/img/pushpin.png',
                new google.maps.Size(60,89),
                new google.maps.Point(0,0),
                new google.maps.Point(30,89)
            );
            /*var shadow = new google.maps.MarkerImage('templates/default//img/pushpin_shadow.png',
                    new google.maps.Size(32,20),
                    new google.maps.Point(0,0),
                    new google.maps.Point(0,20)
            );*/

            for (i = 0; i < locations.length; i++) {  
                LatLong = new google.maps.LatLng(locations[i][1], locations[i][2]);
                markers[i] = new google.maps.Marker({
                    position: LatLong,
                    animation: google.maps.Animation.DROP,
                    //shadow: shadow,
                    icon: image,
                    map: map
                });
                /*markers[i] = new MarkerWithLabel({
                    position: LatLong,
                    draggable: true,
                    //raiseOnDrag: true,
                    map: map,
                    labelContent: locationsMini[i][0],
                    labelAnchor: new google.maps.Point(-28,51),
                    labelClass: "locator_label",
                    //labelStyle: {opacity: 0.75},
                    labelInBackground: true//,
                    //icon: {
                    //	url: 'templates/default/img/pushpin.png',
                    //	size: new google.maps.Size(47,59),
                    //	origin: new google.maps.Point(0,0),
                    //	anchor: new google.maps.Point(18,59),
                    //	position: LatLong
                    }
                    //position: LatLong,
                    //animation: google.maps.Animation.DROP,
                    //icon: 'templates/default/img/pushpin.png'
                });*/
                //var label = new Label({
                //    map: map,
                //    content: locationsMini[i][0]
                //});
                //label.bindTo('position', markers[i], 'position');

                google.maps.event.addListener(markers[i],'click',(function(marker,i) {
                    return function(){
                        //infowindow.setContent(locations[i][0]);
                        infobox.setContent(locations[i][0]);
                        map.setCenter(new google.maps.LatLng(locations[i][1],locations[i][2]));
                        //infowindow.open(map, marker);
                        //infobox.open(map, marker);
                    }
                })(markers[i],i));
                bounds.extend(LatLong);
            }
            map.fitBounds(bounds);
        });

        (function ($) {
            $('.carousel').carousel();
            $("a[rel^='prettyPhoto']").prettyPhoto();
        })(jQuery);
     </script>
{% endblock %}
