{% from 'LzdvInitCmsProductBundle:CategoryView:macro.html.twig' import category %}

{% macro products_filter(productsFilterView, categories) %}
    <header>
        {% if productsFilterView.title %}
            <h1 class="title">{{ productsFilterView.title }}</h1>
        {% endif %}
    </header>
    <form class="product-filter-form" name="product-filter-form" method="GET" action="">
        {% if productsFilterView.collections is not null %}
            <div id="filter-collection" class="collection row btn-group-vertical" role="group" aria-label="">
                <header>
                    <h2 class="name">Filtra per Linea</h2>
                </header>
                <ul>
                {% set selected = app.request.get('col') %}
                {% for collection in productsFilterView.collections %}
                    <li>
                        <input id="input-col-{{ collection.id }}" name="col[]" type="radio" value="{{ collection.id }}" {% if collection.id in selected %}checked="checked"{% endif %} />
                        <label for="input-col-{{ collection.id }}">{{ collection.name }}</label>
                    </li>
                {% endfor %}
                <li>
                    <input id="input-col-0" name="col[]" type="radio" value="" {% if 0 in selected %}checked="checked"{% endif %} />
                    <label for="input-col-0">Tutti i vini</label>
                </li>
                </ul>
            </div>
        {% endif %}
        {% if productsFilterView.categories is not null %}
            {% set selected = app.request.get('cat') %}
            {% for category in productsFilterView.categories %}
                <div id="filter-category-{{ category.slug }}" class="category row btn-group-vertical" role="group" aria-label="">
                    <header>
                        <h2 class="name">Filtra per {{ category.name }}</h2>
                    </header>
                    <ul>
                    {% for subcategory in category.children %}
                        <li>
                            <input id="input-cat-{{ subcategory.id }}" name="cat[{{ category.id }}][]" type="checkbox" value="{{ subcategory.id }}" {% if selected[category.id] is defined and subcategory.id in selected[category.id] %}checked="checked"{% endif %} />
                            <label for="input-cat-{{ subcategory.id }}">{{ subcategory.name }}</label>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        {% endif %}
        <input type="submit" class="submit" value="filtra" />
    </form>        
    <a id="products-back-button" href="#" onclick="backToProductsList()">Indietro</a>
    <a id="product-attachment-button" onclick="alert('attualmente non disponibile')">Scheda</a>
{% endmacro %}


{% macro admin_products_filter(productsFilterView, categories) %}
    <div class="products-filter">
        <header class="filters">
            <ul>
                <li>categorie: {% if productsFilterView.categories is not null %}coming soon{% else %}nessuna{% endif %}</li>
                <li>collezioni: {% if productsFilterView.collections is not null %}coming soon{#{ productsFilterView.collections }#}{% else %}nessuna{% endif %}</li>
            </ul>
        </header>
    </div>
{% endmacro %}